
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hasil Perhitungan</title>
</head>
<body>
    <h1>Output Data</h1>
    <h2>Labels:</h2>
    <ul>
        {% for i in k %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
    
    <h2>Centroids:</h2>
    <ul>
        {% for i in l %}
            <li>{{ i }}</li>
        {% endfor %}
    </ul>
</body>
</html>